.menu-block {
    width: .16rem;
    height: .14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu-span {
    display: block;
    background-color: white;
    width: 100%;
    height: .02rem;
}
.menu-mask {
    position: fixed;
    top: .59rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111;
    list-style: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    padding-top: 1.22rem;
    display: none;
}
.menu-mask.showMenu {
    display: block;
}
.nav-item {
    text-align: center;
    font-size: .32rem;
    font-weight: 900;
    margin-bottom: .6rem;
}
.menu-item:last-child{
    margin-bottom: 0;
}
.nav-item.cur {
   color: #FF4F17;
}
.nav {
    height: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 .2rem;
}
.logo-box { 
    display: flex;
    align-items: center;
}
.logo {
    width: .32rem;
}
.logo-text {
    font-size: .12rem;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
}
.lang {
    font-family: "Roboto Condensed", sans-serif;
    font-size: .12rem;
    font-weight: 500;
}
.section-wrap {
    width: 100%;
    position: relative;
    background: #1A272F;
}
.section-img {
    width: 100%;
}
.section-content {
    position: absolute;
}
/* 字体未找到 */
.section-p1,.section-p2,.section-p4 {
    min-height: 6.3rem;
}
.section-p5 {
    min-height: 5.9rem;
}
.section-p1 .section-content {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    font-family: "ITC Avant Garde Gothic Pro";
}
.section-p2 .section-content {
    position: absolute;
    width: 100%;
    padding: .18rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/* 字体未找到 */
.section-p2 .hell-express {
    font-size: .6rem;
    font-weight: 700;
    font-family: "ITC Avant Garde Gothic Pro";
}
.follow-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .3rem;
}
.follow-text {
    margin-right: .28rem;
    font-size: .12rem;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
}
.follow-line {
    background-color: white;
    width: 2rem;
    flex: 1;
    height: 2px;
}
.follow-btn {
    width: 100%;
    height: .54rem;
    border: .02rem solid #F41F1F;
    border-radius: .08rem;
    line-height: .54rem;
    text-align: center;
    margin-top: .4rem;
    font-size: .2rem;
    font-weight: 900;
    background: rgba(244, 31, 31, 0.10);
}
.section-p3 {
    background-color: #1A272F;
    overflow: hidden;
}
.section-p3 .section-content {
    padding: 0 .28rem;
    padding-top: .6rem;
    position: static;
    
}
.content-text-block .red {
    margin-bottom: .16rem;
    font-size: .2rem;
    font-weight: 900;
}
.text-detail {
    display: block;
    font-size: .14rem;
    line-height: .24rem;
    margin-bottom: .4rem;
    font-weight: 450;
}
.section-p3-img {
    width: 3.26rem;
    float: right;
}
.section-p4 .section-content {
    width: 100%;
    top: 50%;
    padding: 0 .2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.stay-tuned-block {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* 字体未找到 */
.stay-tuned {
    font-family: "ITC Avant Garde Gothic Std";
    font-size: .24rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: .24rem;
}
.stay-tuned-input {
    border: none;
    outline: none;
    width: 100%;
    height: .48rem;
    border-radius: .08rem;
    background: white;
    font-size: .15rem;
    font-weight: 300;
    margin-bottom: .24rem;
    padding: 0 .16rem;
    font-weight: 300;
}
.stay-tuned-btn {
    background: #E3520B;
    height: .48rem;
    border-radius: .08rem;
    line-height: .48rem;
    font-size: .16rem;
    text-align: center;
    font-weight: 900;
}
/* 字体未找到 */
.join-block-text {
    display: block;
    font-family: "ITC Avant Garde Gothic Std";
    margin-top: .64rem;
    margin-bottom: .4rem;
    font-size: .24rem;
    font-weight: 700;
}
.join-icon-block {
    display: flex;
    justify-content: space-around;
}
.join-icon {
    width: .6rem;
}
.section-p5 .section-content {
    position: absolute;
    top: 0;
}
.contact-block {
    text-align: center;
    padding-top: 2.2rem;
}
.contact-text {
    font-size: .3rem;
    font-weight: 900;   
    margin-bottom: .1rem;
    color: #E3520B;
}
.contact-email {
    font-family: "Roboto Flex", sans-serif;
    font-size: .24rem;
    font-weight: 400;
}
.footer {
    padding: 0 .4rem;
    padding: .8rem .4rem .66rem .4rem;
    display: flex;
    flex-direction: column;
}
.footer-item-p {
    font-weight: 900;
    font-size: .24rem;
    margin-bottom: .2rem;
}
.footer-item-a,.footer-item-span {
    font-weight: 400;
    font-size: .2rem;
    margin-bottom: .55rem;
    color: white;
    text-decoration: none;
}
.footer-contact-icon {
    width: .48rem;
}
.footer-contact-icon:first-child {
    margin-right: .48rem;
}

.detail-article {
    display: block;
    padding: .3rem .2rem;
    background: #1A272F;
}
.detail-article .title {
    color: #FF712B;
    font-size: .2rem;
    font-weight: 900;
    margin-bottom: .3rem;
}

.paragraph {
    margin-bottom: .3rem;
    font-size: .14rem;
    line-height: .22rem;
}
.paragraph a {
    font-style: none;
    color: white;
}
.paragraph ul li {
    font-size: .14rem;
    line-height: .22rem;
}